<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cb007787.timetabler">
    <!-- add the internet permissions to communicate to the API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="com.cb007787.timetabler.provider.TaskContentProvider_READ" />
    <permission android:name="com.cb007787.timetabler.provider.TaskContentProvider_WRITE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EEACB007787Mobile"
        android:usesCleartextTraffic="true">

        <provider
            android:name=".provider.TaskContentProvider"
            android:authorities="com.cb007787.timetabler.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.cb007787.timetabler.provider.TaskContentProvider_READ"
            android:writePermission="com.cb007787.timetabler.provider.TaskContentProvider_WRITE" />

        <activity
            android:name=".view.student.StudentTaskCreateUpdate"
            android:parentActivityName=".view.student.StudentTaskManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.student.StudentTaskManagement"
            android:parentActivityName=".view.student.StudentHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminViewLecturerTimetable"
            android:parentActivityName=".view.academic_admin.AcademicAdminTimeTableManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminViewLecturesPerBatch"
            android:parentActivityName=".view.academic_admin.AcademicAdminTimeTableManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminManageSingleBatch"
            android:parentActivityName=".view.academic_admin.AcademicAdministratorBatchManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminTimeTableManagement"
            android:parentActivityName=".view.academic_admin.AcademicAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminUserManagement"
            android:parentActivityName=".view.academic_admin.AcademicAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminCreateBatch"
            android:parentActivityName=".view.academic_admin.AcademicAdministratorBatchManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdministratorBatchManagement"
            android:parentActivityName=".view.academic_admin.AcademicAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminCreateModule"
            android:parentActivityName=".view.academic_admin.AcademicAdminModuleManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminModuleManagement"
            android:parentActivityName=".view.academic_admin.AcademicAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.system_admin.SystemAdminCreateManageClassroom"
            android:parentActivityName=".view.system_admin.SystemAdminClassroomManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.system_admin.SystemAdminClassroomManagement"
            android:parentActivityName=".view.system_admin.SystemAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.system_admin.SystemAdminCreateUser"
            android:parentActivityName=".view.system_admin.SystemAdminUserManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.system_admin.SystemAdminUserManagement"
            android:parentActivityName=".view.system_admin.SystemAdminHome"
            android:screenOrientation="portrait" />
        <activity android:name=".view.common.shared.ScheduleLecture" />
        <activity
            android:name=".view.lecturer.LecturerModules"
            android:parentActivityName=".view.lecturer.LecturerHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.common.shared.SharedUserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.student.StudentEnrolments"
            android:parentActivityName=".view.student.StudentHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.academic_admin.AcademicAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.lecturer.LecturerHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.student.StudentHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.system_admin.SystemAdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.common.CommonContainer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>